.wrapper {
    margin: 20px auto;
}

[class*='block-grid-'] > li {
    width: 8.2rem;
    height: 10rem;
}

.cardwrap {
    position: relative;

    width: 150px;
    height: 200px;
    margin: 10px 9px;

    -webkit-perspective: 800;
}

.card {
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: pointer;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.37, 1.44, .01, 1.05);
       -moz-transition:    -moz-transform 1s cubic-bezier(.37, 1.44, .01, 1.05);
         -o-transition:      -o-transform 1s cubic-bezier(.37, 1.44, .01, 1.05);
            transition:         transform 1s cubic-bezier(.37, 1.44, .01, 1.05);

    -webkit-transform-style: preserve-3d;
}

.card > div {
    position: absolute;

    width: 100%;
    height: 100%;

    border: 5px solid #f3f3f3;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px #aaa, 0 0 2px 2px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 0 0 1px #aaa, 0 0 2px 2px rgba(0, 0, 0, .15);
            box-shadow: 0 0 0 1px #aaa, 0 0 2px 2px rgba(0, 0, 0, .15);

    -webkit-backface-visibility: hidden;
}

.card .front {
    background: image/png;
}

.card .back {
    -webkit-transform: rotatey(180deg);
       -moz-transform: rotatey(180deg);
        -ms-transform: rotatey(180deg);
         -o-transform: rotatey(180deg);
            transform: rotatey(180deg);
}

.card.flipped, .card.match {
    cursor: default;
    -webkit-transform: rotatey(180deg);
       -moz-transform: rotatey(180deg);
        -ms-transform: rotatey(180deg);
         -o-transform: rotatey(180deg);
            transform: rotatey(180deg);
}

.card div div {
    width: 80px;
    height: 80px;
    margin: 30% auto;

    border: 10px solid #f3f3f3;
}

.circle {
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

.square {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.fill {
    background: #f3f3f3;
}
