body {
    background: url(../img/noise.png);
}

.row{
  max-width: 100%;
}

.row::after {
    position: relative;
    top: -23px;

    display: block;

    width: 100%;
    height: 1px;

    content: ' ';

    background: #e8a361;
}

.panel {
    border: none;
    border-bottom: 2px solid #874a0f;
    background: #9c6e41;
}

.panel h1 {
    color: hsl(29,70%,92%);
    text-shadow: 0 2px 0 #874a0f;
}

.reveal-modal {
    border: 1px solid #874a0,f;
    background: #9c6e41;
}

.reveal-modal h2,
  .reveal-modal .close-reveal-modal {
    color: hsl(29,70%,92%);
    text-shadow: 0 2px 0 #874a0f;
}

.button.small {
    font-size: 1.1rem;

    margin: 10px auto 5px;

    color: hsl(133,53%,95%);
    background: url(../img/noise.png);
    text-shadow: 0 1px 0 #0c6620;
}

.wrapper {
    max-width: 605px;
    margin: auto;
}

[class*='block-grid-'] > li {
    width: 8rem;
    height: 10.1rem;
}

.cardwrap {
    position: relative;

    width: 150px;
    height: 200px;
    margin: 10px 9px;

    -webkit-perspective: 800;
       -moz-perspective: 800;
            perspective: 800;
}

.card {
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: pointer;
    -webkit-transition: -webkit-transform 1s cubic-bezier(.37,1.44,.01,1.05);
       -moz-transition:    -moz-transform 1s cubic-bezier(.37,1.44,.01,1.05);
            transition:         transform 1s cubic-bezier(.37,1.44,.01,1.05);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.card > div {
    position: absolute;

    width: 100%;
    height: 100%;

    border: 5px solid #f3f3f3;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #aaa, 0 0 2px 2px rgba(0,0,0,.15);

    -webkit-backface-visibility: hidden;
    -mox-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card .front {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALklEQVQYV2NkIAIwEqGGgTxFH4/w/+e3+YiiGYUDU4CuEMM6gibh8gR5DsdmGgBclBAKnNVT1AAAAABJRU5ErkJggg==) repeat, HSL(6, 63%, 50%);
}

.card .back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card.flipped, .card.match {
    cursor: default;
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card .blue {
    background: HSL(204, 70%, 53%);
}

.card .green {
    background: HSL(145, 63%, 42%);
}

.card .yellow {
    background: HSL(48, 89%, 50%);
}

.card .orange {
    background: HSL(28, 80%, 52%);
}

.card div div {
    width: 80px;
    height: 80px;
    margin: 29% auto;

    border: 10px solid #f3f3f3;
}

.circle {
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}
.square {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.fill {
    background: #f3f3f3;
}
